---
import "@/styles/global.css";
import TopBar from "@/components/astro/TopBar.astro";

const { title = "INE · Prueba Frontend" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="min-h-screen bg-linear-to-b from-slate-50 to-slate-100 text-slate-900">
    <TopBar />
    <slot />
  </body>
</html>
